*{
  margin: 5px;
  font-size: 20px;
}
h3{
  color:#999;
}
input{
  width:60%;
  background-color: #777;
  border: #999;
}
form {
  background-color: black;
  width: 450px;
}
label{
  color:gold;
}
button {
  text-align: right;
}
button:hover {
  background-color:gold;
}
.App-link {
  color: #61dafb;
}

.form-heading {
  color: #fff;
}

.drawer {
  display:flex;
  margin-bottom:20px;
  padding-top:15px;
}
.list{
  width:80%
}
.robot-detail {
  color:aquamarine;
}
.details {
  font-size:10px;
  width:800px;
  text-align: right;
}